
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
/.idea
/.idea
.idea/workspace.xml
exercicio_de_telas/sistemabancario/main/__pycache__/handle_process.cpython-312.pyc
exercicio_de_telas/sistemabancario/views/__pycache__/viewCadastro.cpython-312.pyc
*.pyc
*.pyc
